/* .rotate {
    width: 300px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 30px;
    transform: rotate(2deg) translate(-50%, -50%);
    background-color: yellowgreen;
}

.two {
    width: 300px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-2deg) translate(-50%, -50%);
    transform-origin: center;
    background-color: red;
}

.three {
    width: 300px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    transform: rotate(-1deg) translate(-50%, -50%);
    color: white;
    font-size: 50px;
} */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.circle-one {
    margin: 20px;
    position: absolute;
    width: 200px;
    height: 200px;
    border: 5px solid;
    border-top-color: blue;
    border-bottom-color: blue;
    border-right-color: blue;
    border-left-color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 200px;
    background-color: #eee;
    transform: scale(1.05, 1.05) rotate(270deg);
    transition-duration: .3s;
}

.circle-two {
    margin: 20px;
    position: absolute;
    width: 200px;
    height: 200px;
    border: 5px solid;
    border-top-color: red;
    border-bottom-color: red;
    border-right-color: red;
    border-left-color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 200px;
    background-color: #eee;
    transition: .3s;
}

.circle-one:hover {
    transform: rotate(0deg);
}

.circle-two:hover {
    transform: rotate(270deg) scale(1.05, 1.05);
}