/* so write some Things here
@media condition{
    this is your code here
    we have some Standards for the media uaAmer
*/

* {
    box-sizing: border-box;
    margin: 0px;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    width: 1200px;
}

.parent>div {
    background-color: red;
    color: white;
    text-align: center;
    width: 290px;
    margin: 2px;
    height: 30px;
    line-height: 30px;
}

@media (max-width:1000px) and (min-width:500px) {
    /* That means from 1000 to 500 the background will be blue and so on */
    .parent>div {
        background-color: blue;
        color: black;
    }
}